:root {
  --grass : mediumseagreen; 
  --poison : mediumpurple;
  --fire: goldenrod;
  --flying: steelblue;
  --water: dodgerblue;
  --bug: brown;
  --normal: gray;
  --ground: peru;
  --fairy: hotpink;
  --fighting: crimson;
  --electric: hsl(51deg 73% 50%);
  --psychic: orange;
  --rock: dimgray;
  --ice: darkcyan;
  --dragon: mediumaquamarine;
  --ghost: black;
  --dark: slategray;
  --steel: steelblue;
  --all: dimgray;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
  display: flex;
  width: 100%;
  height: 100vh ;
}

.card-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  overflow: hidden;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  margin: 40px auto;
}

.card {
  width : 280px;
  aspect-ratio: 0.6;
  flex-shrink: 0;
  border: 1.3px solid rgb(208, 208, 208);
  border-radius: 4px;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
}

.image-container {
  background-color: rgb(220, 220, 220); 
  height: 50%;
  margin: 7px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.detail-container {
  margin: 0px 6px 6px 6px;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.poke-name-type {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.name {
  font-size: 22px;
  font-weight: 600;
  color: rgb(103, 103, 103);
}

.types {
  display: flex;
  width: 40%;
  justify-content: end;
  gap: 5px;
}

.type {
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}

.type-1 {
  background-color: var(--poison);
}

.type-2 {
  background-color: var(--grass);
}

.stats-table-container {
  width: 100%;
  height: 100%;
}

.stats {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

tbody {
  width: 100%;
  height: 100%;
}

.stats tr { 
  width: 100%;
  border-bottom: 1px solid rgb(186, 186, 186);
  padding: 0.1em 0;
}

.stats tr td {
  color: rgb(103, 103, 103);
}
.stat-name {
    font-size: 16px;
    font-weight: 600;
}

.stat-entry {
  font-weight: 400;
  text-align: end;
}

#last-row {
  border-bottom: 0;
}

.sidebar {
  padding-top: 10px;
  width: 20%;
  height: 100%;
  background-color: rgb(242, 242, 242);  
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.sidebar li {
  padding: 20px 0;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  list-style-type: none;
}

.sidebar li:hover {
  background-color: rgb(199, 199, 199);
}

#grass:hover  {
    background-color: var(--grass );
  color: white;
  }
  #poison:hover  {
  background-color: var(--poison );
    color: white;
  }
  #fire:hover {
  background-color: var(--fire);
    color: white;
  }
  #flying:hover {
  background-color: var(--flying);
    color: white;
  }
  #water:hover {
  background-color: var(--water);
      color: white;
  }
  #bug:hover {
  background-color: var(--bug);
    color: white;
  }
  #normal:hover {
  background-color: var(--normal);
    color: white;
  }
  #ground:hover {
  background-color: var(--ground);
    color: white;
  }
  #fairy:hover {
  background-color: var(--fairy);
    color: white;
  }
  #fighting:hover {
  background-color: var(--fighting);
    color: white;
}
#electric:hover {
    background-color: var(--electric);
  color: white;
  }
  #psychic:hover {
  background-color: var(--psychic);
    color: white;
  }
  #rock:hover {
  background-color: var(--rock);
    color: white;
  }
  #ice:hover {
  background-color: var(--ice);
    color: white;
  }
  #dragon:hover {
  background-color: var(--dragon);
    color: white;
  }
  #ghost:hover {
  background-color: var(--ghost);
    color: white;
  }
  #dark:hover {
  background-color: var(--dark);
    color: white;
  }
  #steel:hover {
  background-color: var(--steel);
    color: white;
  }
  #all:hover {
  background-color: var(--all);
    color: white;
  }
